.header {
  padding-bottom: 123px;
}
.header__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
  }
}
.header__menu {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__menu {
    justify-content: space-between;
    gap: 20px;
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
.header__menu .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
@media (min-width: 768px) {
  .header__menu .logo {
    max-width: 236px;
    gap: 13px;
  }
}
.header__menu .logo__text {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 2;
}
.header__menu .nav {
  display: none;
}
@media (min-width: 768px) {
  .header__menu .nav {
    width: 676px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}
@media (min-width: 768px) {
  .header__section {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 0;
    text-align: left;
  }
}
.header__section .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .header__section .headline {
    align-items: flex-start;
    gap: 26px;
  }
}
.header__section .headline__button {
  margin-top: 18px;
}
.header__section .banner {
  display: none;
}
@media (min-width: 768px) {
  .header__section .banner {
    display: flex;
    align-items: flex-end;
  }
  .header__section .banner_rectangle {
    padding-bottom: 47px;
  }
  .header__section .banner__sm-links {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 47px;
    margin-left: 40px;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  max-width: 375px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #E3EBE7;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item_sm {
  display: flex;
  gap: 25px;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.about {
  padding-bottom: 110px;
}
.about__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
  }
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about__wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
.about .banner__img {
  display: none;
}
@media (min-width: 768px) {
  .about .banner__img {
    display: block;
  }
}
.about .banner__img-mobile {
  display: block;
}
@media (min-width: 768px) {
  .about .banner__img-mobile {
    display: none;
  }
}
.about__title1 {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.arrow-left,
.arrow-right {
  display: none;
}
@media (min-width: 768px) {
  .arrow-left,
  .arrow-right {
    display: block;
    margin-top: 18%;
  }
}

.carusel {
  margin-top: 5%;
  background-color: #eff4f2;
}

.carusel__shop {
  background-color: #eff4f2;
}
@media (min-width: 768px) {
  .carusel__shop {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.shop__column {
  display: grid;
  width: 100%;
  margin-top: 20px;
  margin: 0 5px;
  justify-content: center;
}
@media (min-width: 768px) {
  .shop__column {
    display: flex;
  }
}

.shop__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  flex: 33%;
  margin: 20px;
  padding: 0 50px;
  box-shadow: 0px 15px 10px 0px #dfdede;
}

.offer__title {
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

.offer__text {
  text-align: center;
  line-height: 24px;
  flex: 1 1 auto;
  padding: 10px;
}

.shop__button {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  margin: 50px 0;
}

.shop__button, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 54px;
  color: #FFFFFF;
  background-color: #2D635E;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  transition: transform 0.2s;
}
.shop__button:hover, .btn:hover {
  transform: scale(1.1);
}

.coffee-info__text, .footer-copyright, .footer__address, .offer__text, .title1__text2, .title1__text1 {
  color: #444A4A;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
}

.coffee-info__title, h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 43px;
  color: #FFFFFF;
  background-color: #2D635E;
  border-radius: 5px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  transition: transform 0.2s;
}
.btn1:hover {
  transform: scale(1.1);
}

.nav__link {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: 768px) {
  .footer-copyright {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.001em;
  }
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 63px;
}

h4 {
  font-family: "Cedarville Cursive";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 53px;
}

.offer__title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.promotion {
  padding-bottom: 64px;
}
.promotion__container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promotion__container {
    max-width: 1160px;
    width: 100%;
    padding: 0 20px;
  }
}
.promotion__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .promotion__wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}

.coffee-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.coffee-info__button {
  display: none;
}
@media (min-width: 768px) {
  .coffee-info__button {
    display: block;
  }
}
.coffee-info__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  height: 276px;
  padding-left: 72px;
  background-color: #E3EBE7;
}
.coffee-info__subtitle {
  display: none;
}
@media (min-width: 768px) {
  .coffee-info__subtitle {
    display: block;
    height: 53px;
    margin-left: 67px;
    margin-top: -26px;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: grid;
  grid-template: min-content/min-content min-content 1fr;
  -moz-column-gap: 1.7vw;
       column-gap: 1.7vw;
  max-width: 1141px;
  margin-top: 110px;
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 6vw 60px 6vw;
    width: 88vw;
  }
}
.footer__container .footer__img {
  grid-area: 1/1/1/2;
  max-width: 46.1vw;
}
@media (max-width: 768px) {
  .footer__container .footer__img {
    display: none;
  }
}
.footer__container .footer__img-mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer__container .footer__img-mobile {
    display: block;
    width: 86vw;
    margin-bottom: 40px;
  }
}
.footer__container .footer__line {
  grid-area: 1/2/1/3;
  display: flex;
  align-items: center;
  width: 5vw;
  height: 20px;
  border-bottom: 2px solid black;
}
@media (max-width: 768px) {
  .footer__container .footer__line {
    display: none;
  }
}
.footer__container .footer__info {
  grid-area: 1/3/1/4;
  width: 240px;
}
.footer__container .footer__title {
  margin-bottom: 21px;
}
.footer__container .footer__address {
  line-height: 2.5;
}
@media (max-width: 768px) {
  .footer__container .footer__address {
    line-height: 3.5;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer__container .footer__address .footer__address-mobile-hidden {
    display: none;
  }
}
.footer__container .footer__mobile-button {
  display: none;
}
@media (max-width: 768px) {
  .footer__container .footer__mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 53px;
    margin-top: 15px;
    margin-left: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
}
.footer__container .footer__arrow {
  margin-left: 5px;
}

.footer-copyright {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */